/* the board */
.impact-row {
  box-sizing: content-box;
  min-height: 50px;
  box-shadow: inset;
  background: #f9f9f9;
  position: relative;
  margin-block-end: 5px;
  transition: 0.2s;
  padding: 2px 10px 2px 35px;
  user-select: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px 2px #ccc inset; 
  box-shadow: 0px 0px 2px 2px #ccc inset;
}
.impact-row.is-dragged-over{
  -webkit-box-shadow: 0px 0px 3px 2px #ccc; 
  box-shadow: 0px 0px 3px 2px #ccc;
}
.impact-row span {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color:#bbb
}

.new-tickets-section {
  background-color: palegreen;
  margin-block-end: 15px;
  user-select: none;
  position:relative;
  min-height: 55px;
  padding: 2px 10px 2px 35px;
}

.new-tickets-section.no-new-tickets {
  display: none;
}

.new-tickets-section span {
  color: green;
  position: absolute;
  padding: 6px;
  transform: rotate(-90deg);
  top: 13px;
  left: -8px;
}

.new-tickets-section .new-ticket-row {
  box-sizing: content-box;
  padding: 2px 10px 2px 35px;
}

/* the ticket in a board */
.ticket {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px 2px #CCCCCC; 
  box-shadow: 0px 0px 3px 2px #CCCCCC;
  padding: 0px 8px;
  position: relative;
  display: inline-block;
  margin: 5px;
  user-select: none;
  min-width: 170px;
}
.ticket h4 {
  font-size: 14px;
}
.ticket p {
  font-size: 10px;
}

.ticket button.btn.btn-danger, button.btn {
  position: absolute;
  padding: 0 3px;
  top:5px;
  right:5px;
}

.ticket button.btn.btn-primary {
  position: absolute;
  padding: 0 3px;
  top:5px;
  right:29px;
}
.ticket h1,h2,h3,h4,h5,h6 {
  margin-top: 5px;
  margin-bottom: 0;
}
.ticket p {
  margin-top: 0;
  margin-bottom: 5px;
}

/* Dragging animation */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.impact-row.cdk-drop-list-dragging .ticket:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}