<!--<div cdkDropListGroup  *ngIf="board$ | async as board">
  <div
    cdkDropList
    [cdkDropListData]="column"
    (cdkDropListDropped)="drop($event)"
    *ngFor="let column of board.columns; index as i"
    [ngClass]="{
      'impact-row': column.name !== 'NEU',
      'new-tickets-section': column.name === 'NEU',
      'no-new-tickets': column.tickets.length < 1 && i === 0
    }"
  >
      <span>{{column.name}}</span>
      <div
        cdkDrag 
        [cdkDragData]="{ ticketId: ticket._id, newImpact: column.name }"
        *ngFor="let ticket of column.tickets" 
        class="ticket"
      >
        <h4>{{ticket.title | shorten:13}}</h4>
        <p>{{ticket.desc | shorten:22}}</p>
        <button class="btn btn-primary" type="button" [routerLink]="'/ticket/edit/' + ticket._id.toString()">&#9998;</button>
        <button class="btn btn-danger" type="button" (click)="onDeleteTicket(ticket)">&#10005;</button>
      </div>
  </div>
</div>-->