<div class="new-tickets-section">
    <span>Es gibt neue Tickets</span>
    <div class="new-ticket-row">
        <div class="ticket">
            <h4>Titel</h4>
            <p>Beschreibung des Tickets ...</p>
            <button class="btn btn-primary">&#9998;</button>
            <button class="btn btn-danger">&#10005;</button>
        </div>
    </div>
</div>

<div class="impact-row" (dragover)="onDragOver()">
    <span>1</span>
    <div class="ticket" draggable="true" (dragstart)="onDragStart()" (dragend)="onDragEnd()">
        <h4>Titel</h4>
        <p>Beschreibung des Tickets ...</p>
        <button class="btn btn-primary">&#9998;</button>
        <button class="btn btn-danger">&#10005;</button>
    </div>
</div>
<div class="impact-row" (dragover)="onDragOver()">
    <span>2</span>
</div>
<div class="impact-row" (dragover)="onDragOver()">
    <span>3</span>
</div>
<div class="impact-row" (dragover)="onDragOver()">
    <span>4</span>
</div>
<div class="impact-row" (dragover)="onDragOver()">
    <span>5</span>
</div>
<div class="impact-row" (dragover)="onDragOver()">
    <span>6</span>
</div>
<div class="impact-row" (dragover)="onDragOver()">
    <span>7</span>
</div>
<div class="impact-row" (dragover)="onDragOver()">
    <span>8</span>
</div>
<div class="impact-row" (dragover)="onDragOver()">
    <span>9</span>
</div>
<div class="impact-row" (dragover)="onDragOver()">
    <span>10</span>
</div>