<div class="new-tickets-section" *ngIf="newTickets.length > 0">
    <span>NEU</span>
    <div class="new-ticket-row">
        <div *ngFor="let newTicket of newTickets" class="ticket" draggable="true" (dragstart)="onDragStart(newTicket)" (dragend)="onDragEnd()">
            <h4>{{ newTicket.title | shorten:13 }}</h4>
            <p>{{ newTicket.desc | shorten:20 }}</p>
            <button class="btn btn-primary" type="button" (click)="onEditTicket(newTicket)">&#9998;</button>
            <button class="btn btn-danger" type="button" (click)="onDeleteTicket(newTicket)">&#10005;</button>
        </div>
    </div>
</div>

<div *ngFor="let ticketRow of ticketRows; let i = index" class="impact-row" attr.data-row-id="{{i+1}}" (dragover)="onDragOver($event)">
    <span>{{i+1}}</span>
    <div *ngFor="let pTicket of ticketRow" class="ticket" draggable="true" (dragstart)="onDragStart(pTicket)" (dragend)="onDragEnd()">
        <h4>{{ pTicket.title | shorten:13 }}</h4>
        <p>{{ pTicket.desc | shorten:20 }}</p>
        <button class="btn btn-primary" type="button" (click)="onEditTicket(pTicket)">&#9998;</button>
        <button class="btn" type="button" (click)="onResetImpactTicket(pTicket)">&#9986;</button>
    </div>
</div>