<h2 *ngIf="editing">Ticket bearbeiten</h2>
<h2 *ngIf="!editing">Neues Ticket erstellen</h2>
<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    <label for="title">Titel</label>
    <input id="title" formControlName="title" value="" class="form-control">
    <br>
    <label for="desc">Beschreibung</label>
    <textarea id="desc" formControlName="desc" value="" class="form-control" rows="7"></textarea>
    <br>
    <input *ngIf="editing" type="submit" class="btn btn-primary" [disabled]="!ticketForm.valid" value="Ticket speichern">
    <input *ngIf="!editing" type="submit" class="btn btn-primary" [disabled]="!ticketForm.valid" value="Ticket erstellen">
</form>